@* @model HomeVM *@
@model IEnumerable<Book>

<div class="row pb-3">
    @foreach (var book in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2 h-100">
                <div class="card border-0 p-3 shadow border-top border-5 rounded d-flex flex-column justify-content-start">
                    <img src="@book.ImageUrl" class="card-img-top rounded h-100" />
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@book.Title</p>
                            <p class="card-title text-warning text-center">by <b>@book.Author</b></p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center mb-0">
                                Price:
                                <span>
                                    @book.Price.ToString("c")
                                </span>
                            </p>
                        </div>
                        <div class="mt-2 align-self-end p-0">
                            <a asp-action="Details" asp-route-bookId="@book.Id"
                                class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
